body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

 .btn-large{
     width:130px;
 }

/* Set width on the form input elements since they're 100% wide by default */
input,
select
{
    max-width: 280px;
}

#ProfileImg{
    width:160px;
    height:160px;
    background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;
}

#navBarImg, #profilePhoto{
    border-radius: 100px;
    padding: 2px;
    background: #FFFFFF;
    margin: auto;
}

.request-handle{
    margin-top: 10px;
}

.request-list-elem{
    background-color: #c9e0fc;
    padding: 5px 5px;
    border-radius:20px;
    margin:0 0 5px 0;
    position: relative;
    left:115px;
}

ul {
  list-style-type: none;
}

.sender {
    font-weight: bold;
    color: #ff6a00;
}

.date, .rejectBtn{
    position:relative;
    left:-25px;
}

.btn-sm{
    width: 120px;
}

.inner-row{
    position: relative;
    left:5px;
}


