@model SocialNetwork.WebHost.ViewModel.PostViewModel

<div id="likeBtn-@Model.Id">
    @using (Ajax.BeginForm("LikePost", "Post", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "likeBtn-" + @Model.Id, InsertionMode = InsertionMode.Replace }))
    {
        <div class="likeBtn-form">
            <button type="submit" class="btn btn-default btn-xs btn-like">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                Like
                @Html.DisplayTextFor(m => m.LikeCount)
            </button> 
            @Html.Hidden("postId", @Model.Id)
        </div>
    }
</div>   