@model IEnumerable<SocialNetwork.DataAccess.Entities.FriendRequest>

@{
    Layout = null;
}

<h2>New friends requests</h2>

<ul>
    @foreach (var request in Model)
    {
        <li>
            @request.RequestedTo.Profile.FirstName
            @request.Date 
        </li>
    }
</ul>

